.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.container() {
  width: auto;
  max-width: 767px;
  margin: 0 auto;
  padding: 0 9.375%;

  @media @tablet-widths {
    width: auto;
    max-width: 1049px;
    padding: 0 6.510417%;
  }

  @media @desktop-widths {
    width: 1050px;
    padding: 0 4.347826%;
  }

}

.list() {
  margin: 0;
  padding: 0;

  list-style: none;
}
