.catalog-items {
  .container();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media @desktop-widths {

  .catalog-items {
    flex-direction: row;
    margin-bottom: 104px;
  }
}
