.categories {
  background: @categories-bg-color url("../img/hero-mobile@1x.jpg") no-repeat center -18px;
  background-size: 575px auto;
}

.categories__title {
  width: 260px;
  margin: 0 auto;
  padding: 71px 0 121px;

  font-size: 27px;
  font-weight: 700;
  text-align: center;

  color: @title-color;
}

.categories__item {
  position: relative;

  display: block;
  padding: 26px 9.375% 30px;
  padding-right: 0;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;

  color: #ffffff;
  text-decoration: none;
  cursor: pointer;

  transition: 0.02s ease-in;

  svg {
    position: absolute;

    fill: #149080;
    opacity: 0.5;
  }

  &:hover {
    padding-top: 21px;
    padding-bottom: 35px;

    transform: scaleY(1.05);
  }

  &:hover svg {
    opacity: 0.7;
  }

  &:active {
    padding-top: 26px;
    padding-bottom: 30px;

    color: rgba(255, 255, 255, 0.3);

    transform: scaleY(1);
  }

  &:active svg {
    opacity: 0.3;
  }

  &--interior-icon {
    background-color: #63d1bb;
  }

  &--interior-icon:hover {
    background-color: #59d5bc;
  }

  &--interior-icon:active {
    background-color: #59d5bc;
  }

  &--interior-icon svg {
    top: 23px;
    right: 11.5625%;
  }

  &--interior-icon:hover svg {
    top: 18px;
  }

  &--interior-icon:active svg {
    top: 23px;
  }

  &--toy-icon {
    background-color: #56c3b2;
  }

  &--toy-icon:hover {
    background-color: #46c1ae;
  }

  &--toy-icon:active {
    background-color: #46c1ae;
  }

  &--toy-icon svg {
    top: 20px;
    right: 9.125%;
  }

  &--toy-icon:hover svg {
    top: 15px;
  }

  &--toy-icon:active svg {
    top: 20px;
  }
}

@media (min-width: 320px) and (min-resolution: 144dpi),
       (min-width: 320px) and (min-resolution: 1.5dppx) {

  .categories {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

}

@media @tablet-widths {

  .categories {
    position: relative;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center center;
    background-size: 1150px auto;

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: 0;

      width: 100%;
      height: 24px;

      background: url("../img/bg-zigzag-fill.svg") repeat-x bottom;
      background-size: contain;
    }
  }

  .categories__wrapper {
    .container();

    font-size: 0;
  }

  .categories__title {
    width: auto;
    padding: 153px 12% 372px;

    font-size: 43px;
    line-height: 50px;
  }

  .categories__item {
    display: inline-block;
    width: 50%;
    padding: 28px 5.389% 33px;
    padding-right: 0;

    font-size: 20px;
    line-height: 30px;

    vertical-align: top;

    box-sizing: border-box;

    &:hover {
      padding-top: 23px;
      padding-bottom: 38px;
    }

    &:active {
      padding-top: 28px;
      padding-bottom: 33px;
    }

    &--interior-icon svg {
      top: 30px;
      right: 10.778443%;
    }

    &--interior-icon:hover svg {
      top: 25px;
    }

    &--interior-icon:active svg {
      top: 30px;
    }

    &--toy-icon svg {
      top: 31px;
      right: 9.880240%;
    }

    &--toy-icon:hover svg {
      top: 26px;
    }

    &--toy-icon:active svg {
      top: 31px;
    }
  }

}

@media (min-width: 768px) and (min-resolution: 144dpi),
       (min-width: 768px) and (min-resolution: 1.5dppx) {

  .categories {
    background-image: url("../img/hero-desktop@2x.jpg");
  }

}

@media @desktop-widths {

  .categories {
    &::after {
      bottom: -16px;

      width: 100%;
      height: 34px;
    }
  }

  .categories__title {
    padding-bottom: 358px;

    font-size: 53px;
    line-height: 57px;
  }

  .categories__item {
    padding-left: 3.614286%;

    &--interior-icon svg {
      right: 6.857143%;
    }

    &--toy-icon svg {
      right: 6.666667%;
    }
  }

}

