.header-wrapper {
  margin-bottom: 30px;
  padding: 72px 0 74px;

  background-color: @bg-color;
}

.header-wrapper__title {
  margin: 0;

  font-size: 27px;
  font-weight: 700;
  text-align: center;

  color: @title-color;
}

@media @tablet-widths {

  .header-wrapper {
    padding-top: 94px;
    padding-bottom: 80px;
    margin-bottom: 79px;
  }

  .header-wrapper__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media @desktop-widths {

  .header-wrapper {
    padding-bottom: 101px;
    margin-bottom: 130px;
  }

  .header-wrapper__title {
    font-size: 53px;
    line-height: 57px;
  }

}
