.inner-page__intro {
  .container();
  margin-top: 24px;
  margin-bottom: 16px;

  font-size: 13px;
  line-height: 24px;
}

@media @tablet-widths {

  .inner-page__intro {
    margin-top: 62px;
    margin-bottom: 74px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media @desktop-widths {

  .inner-page__intro {
    width: 60.666667%;
    margin: 0 auto;
    margin-top: 102px;
    margin-bottom: 75px;
  }

}
