.logo {
  display: block;
  height: 35px;
  padding-bottom: 8%;

  text-align: center;

  border-bottom: @border-bottom;
}

.logo img {
  height: 35px;
  width: 86px;
}

@media @tablet-widths {

  .logo {
    order: -3;
    margin-right: auto;
  }

}

@media @desktop-widths {

  .logo {
    order: -2;
    flex: 15%;
    margin: 0 10px;

  }

}
