.modal-content {
  .container();
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 100;

  display: none;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 46px;

  background-color: #ffffff;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  p {
    margin: 0;
    margin-bottom: 23px;

    text-align: center;
  }
}

.modal-content__title {
  margin: 0;
  margin: 0 20%;
  margin-bottom: 12px;

  font-size: 25px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  color: @title-color;
}


