.order-form__list {
  .list();

  li {
    margin-bottom: 30px;

    font-size: 17px;
    line-height: 18px;
    font-weight: 700;

    color: @title-color;
  }
}

.order-form__type-radio {
  display: none;

  + .order-form__label {
  position: relative;

  display: block;
  padding-left: 23.846154%;

  cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -11px;
      left: 0;

      border-radius: 50%;
    }

    &::before {
      width: 36px;
      height: 36px;

      border: 2px solid @body-color;
    }

    &:hover::before {
      border: 2px solid #62d1ba;
    }

    &:active::before {
      border: 2px solid rgba(68, 68, 68, 0.3);
    }

    &::after {
      top: 1px;
      left: 12px;

      width: 16px;
      height: 16px;

      background-color: #62d1ba;

      transform: scale(0);
      transition: transform 0.18s;
    }
  }

  &:checked ~ .order-form__label::after {
    transform: scale(1);
  }
}

.order-form__type-checkbox {
  display: none;

  + .order-form__label {
    position: relative;

    display: block;
    padding-left: 24.615385%;
    padding-top: 3px;

    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;

      border: 2px solid @body-color;
    }

    &::before {
      width: 37px;
      height: 36px;
    }

    &:hover::before {
      border: 2px solid #62d1ba;
    }

    &:active::before {
      border: 2px solid rgba(68, 68, 68, 0.3);
    }

    &::after {
      top: 2px;
      left: 10px;

      width: 20px;
      height: 9px;

      border: 3px solid @title-color;
      border-top-style: none;
      border-right-style: none;

      transform: scale(0);
      transition: all 0.01s;
    }
  }

  &:checked ~ .order-form__label::after {
     transform: scale(1) rotate(-45deg);
  }
}

.order-form__list--grey-bg li {
  margin-bottom: 40px;

  &:nth-child(n+3) {
    margin-bottom: 41px;
  }

  &:last-child {
    margin-bottom: 35px;
  }
}

.order-form__list--name {
  li {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 28px;
    }
  }

  .order-form__label {
    display: block;
    margin-bottom: 11px;
  }
}

.order-form__type-text {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 16px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;

  color: @body-color;
  border: none;
  outline: none;
  border-bottom: 2px solid @title-color;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:focus,
  &:active {
    border-bottom: 2px solid #62d1ba;
  }

  &:invalid {
    border-bottom: 2px solid #f0b1b1;
  }

  &--tel {
    margin-bottom: 32px;

    background: url("../img/icon-phone.svg") no-repeat 96.5% top;
  }

  &--email {
    margin-bottom: 25px;

    background: url("../img/icon-mail.svg") no-repeat 97.8% top;
  }
}

.order-form__title {
  margin-bottom: 28px;

  h2 {
    margin: 0;
    padding-right: 10.384615%;

    font-size: 17px;
    line-height: 16px;
    font-weight: 700;

    color: #63d1bb;
    text-transform: uppercase;
  }
}

.order-form__item--grey .order-form__title {
  margin-bottom: 13px;
}

.order-form__extra-field {
  width: 92%;
  min-height: 120px;
  padding-top: 15px;
  padding-left: 5.769231%;

  font-size: 17px;
  line-height: 18px;

  color: @body-color;
  outline: none;
  border: 2px solid @body-color;

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:focus,
  &:active {
    border: 2px solid #62d1ba;
  }

  &:invalid {
    border: 2px solid #f0b1b1;
  }
}

.order-form__wrapper {
  margin-bottom: 55px;

  p {
    margin-bottom: 27px;

    font-size: 14px;
    line-height: 5.24px;
    letter-spacing: -0.013em;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 0.3;
}

input::-moz-input-placeholder,
textarea::-moz-input-placeholder {
  opacity: 0.3;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 0.3;
}

@media @mobile-widths-only {

  .order-form {
    .container();
  }

  .order-form__title {
    overflow: hidden;

    h2 {
      position: relative;

      display: inline;

      &::after {
        content: "";
        position: absolute;
        top: 13px;
        left: 100%;

        height: 1px;
        width: 9999px;

        background-color: #63d1bb;
      }
    }
  }

}

@media @tablet-widths {

  .order-form__item {
    .container();
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:nth-of-type(2) {
      padding-top: 77px;
      padding-bottom: 20px;

      background-color: @bg-color;
    }

    &:nth-of-type(3) {
      padding-top: 65px;
      padding-bottom: 68px;
    }

    &:nth-of-type(4) {
      padding-top: 69px;
    }

    &:nth-of-type(6) {
      padding-top: 65px;
      padding-bottom: 53px;
    }

    &--grey {
      background-color: @bg-color;
    }
  }

  .order-form__title {
    width: 25%;

    &--lower {
      margin-top: 15px;
    }

    h2 {
      padding-right: 0;
      margin-bottom: 0;
    }
  }

  .order-form__list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 75%;

    &--column {
      flex-direction: column;
      padding-bottom: 15px;
    }

    li {
      margin-bottom: 56px;

      font-size: 19px;
      line-height: 18px;
    }

    &--grey-bg {
      justify-content: space-between;

      li {
        width: 50%;
        margin-bottom: 59px;

        &:nth-child(odd) {
          margin-right: 2.5%;
        }

        &:nth-child(even) {
          width: 47.5%;
        }

        &:nth-child(n+3) {
          margin-bottom: 59px;
        }
      }
    }
  }

  .order-form__type-radio {
    + .order-form__label {
      padding-left: 15.976048%;

      &::before,
      &::after {
        top: -16px;
        left: 0;
      }

      &::before {
        width: 48px;
        height: 48px;
      }

      &::after {
        top: -1px;
        left: 15px;

        width: 21px;
        height: 21px;
      }
    }
  }

  .order-form__type-checkbox {
    + .order-form__label {
      padding-left: 33%;
      padding-top: 0;

      &::before,
      &::after {
        top: -16px;
        left: 0;
      }

      &::before {
        width: 51px;
        height: 49px;
      }

      &::after {
        top: -2px;
        left: 14px;

        width: 26px;
        height: 14px;
      }
    }
  }

  .order-form__type-text,
  .order-form__extra-field {
    flex-grow: 1;
  }

  .order-form__list--name {
    li {
      display: flex;

      width: 100%;
      margin-bottom: 39px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .order-form__label {
      display: inline-block;
      margin-bottom: 0;
      margin-right: 5%;

      vertical-align: top;
    }
  }

  .order-form__wrapper {
    .container();
  }

  .order-form__type-text {
    width: auto;
    padding-top: 0;
    padding-bottom: 14px;
    padding-left: 3.5%;
    margin-top: -5px;

    font-size: 19px;

    &--tel {
      padding-left: 2.6%;
      margin-bottom: 40px;

      background-position: 94.4% top;
    }

    &--email {
      margin-bottom: 66px;
      padding-left: 2.6%;

      background-position: 95% top;
    }
  }

  .order-form__extra-field {
    width: auto;
    min-height: 125px;
    padding: 0;
    padding-top: 13px;
    padding-left: 2.4%;

    font-size: 19px;
  }

  .order-form__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;

    p {
      order: 2;
      align-self: center;
      margin-top: 0;
      margin-bottom: 0;

      font-size: 17px;
      line-height: 30px;
    }
  }

}

@media @desktop-widths {

  .order-form__item {
    &:nth-of-type(3) {
      padding-top: 67px;
    }

    &:nth-of-type(6) {
      padding-bottom: 90px;
    }
  }

  .order-form__title {
    width: 16.666667%;

    h2 {
      padding-right: 5%;

      text-align: center;
    }
  }

  .order-form__list {
    width: 83.333333%;

    &--grey-bg {
      justify-content: flex-start;

      li {
        width: 30%;
        margin-bottom: 59px;

        &:nth-child(3n) {
          margin-right: 2.5%;
        }

        &:nth-child(odd) {
          margin-right: 0;
        }

        &:nth-child(even) {
          width: 30%;
        }
      }
    }
  }

  .order-form__type-radio {
    + .order-form__label {
      padding-left: 9.142857%;
    }
  }

  .order-form__type-checkbox {
    + .order-form__label {
      padding-left: 30%;
    }
  }

  .order-form__list--name {
    li {
      width: 80%;
      margin-bottom: 40px;

      box-sizing: border-box;
    }

    .order-form__label {
      margin-right: 3.571429%;
    }
  }

  .order-form__type-text {
    padding-left: 2.571429%;

    box-sizing: border-box;

    &--tel {
      flex-grow: 0;
      width: 66.7%;
      padding-left: 1.6%;
      padding-bottom: 13px;

      background-position: 98.8% top;
    }

    &--email {
      flex-grow: 0;
      width: 66.7%;
      margin-bottom: 67px;
      padding-left: 1.6%;
      padding-bottom: 13px;

      background-position: 99.6% top;
    }
  }

  .order-form__extra-field {
    width: 66.7%;
    min-height: 142px;
    flex-grow: 0;
    padding-top: 13px;
    padding-left: 1.4%;

    box-sizing: border-box;
  }

  .order-form__wrapper {
    width: 61%;
    margin-bottom: 95px;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}

