.page-footer-logo {
  display: none;
}

@media @tablet-widths {

  .page-footer-logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-right: 10.958084%;

    font-size: 0;

    fill: #231f20;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media @desktop-widths {

  .page-footer-logo {
    margin-right: 7.5%;
  }

}
