.popular-good {
  padding-bottom: 43px;

  background: url("../img/bg-zigzag-line.svg") no-repeat bottom;
  background-size: 105% auto;
}

.popular-good__wrapper {
  .container();
  padding-top: 28px;
}

.popular-good__title {
  margin: 0;
  margin-bottom: 5px;

  font-size: 25px;
  font-weight: 700;

  color: @title-color;
}

.popular-good__header {
  margin-bottom: 26px;
}

.popular-good__tagline {
  margin: 0;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;

  color: #63d1bb;
  text-transform: uppercase;
}

.popular-good__intro {
  line-height: 24px;

  margin-bottom: 17px;
}

.popular-good__description,
.popular-good__value {
  padding: 10px 0;

  line-height: 20px;
  font-weight: 400;

  border-bottom: @border;
}

.popular-good__value {
  padding-left: 6.923%;
}

.popular-good__table {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;

  text-align: left;

  border-collapse: collapse;
}

.popular-good__photo {
  margin: 0;
  margin-bottom: 25px;
  height: 315px;

  text-align: center;

  background-color: @bg-color;
}

.popular-good__price {
  margin: 0;
  margin-bottom: 26px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

@media @tablet-widths {

  .popular-good {
    padding-bottom: 69px;
  }

  .popular-good__wrapper {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 45px;
  }

  .popular-good__title {
    margin-bottom: 0;
    flex-grow: 1;

    font-size: 43px;
    line-height: 50px;
  }

  .popular-good__intro {
    width: 43.413174%;
    margin-top: 0;
    margin-bottom: 36px;

    font-size: 17px;
    line-height: 30px;
  }

  .popular-good__table,
  .popular-good__price {
    width: 43.413174%;
  }

  .popular-good__table {
    margin-bottom: 55px;
  }

  .popular-good__value {
    padding-left: 0;
  }

  .popular-good__header {
    display: flex;
    align-items: center;

    margin-bottom: 50px;
  }

  .popular-good__tagline {
    width: 11.976%;
    margin-top: 3px;
    margin-bottom: 0;
    padding-right: 3.1%;

    text-align: center;
  }

  .popular-good__photo {
    position: absolute;
    top: 152px;
    left: 50%;
    right: 6.510%;

    margin-bottom: 0;
    height: 404px;
  }

  .popular-good__price {
    margin-bottom: 35px;

    font-size: 20px;
  }

}

@media @desktop-widths {

  .popular-good {
    padding-bottom: 96px;
  }

  .popular-good__wrapper {
    padding-top: 123px;
  }

  .popular-good__header {
    justify-content: flex-start;
  }

  .popular-good__title {
    font-size: 53px;
    line-height: 57px;
  }

  .popular-good__tagline {
    order: -1;
    margin-top: 5px;
    padding-left: 2%;
    padding-right: 2.5%;
  }

  .popular-good__photo {
    top: 70px;
    right: 4.347826%;
    z-index: -1;

    width: 525px;
    height: 636px;
  }

  .popular-good__intro,
  .popular-good__table {
    width: 28%;
    margin-left: 16.666667%;
  }

  .popular-good__intro {
    margin-bottom: 47px;
  }

  .popular-good__table {
    margin-bottom: 110px;
  }

  .popular-good__price {
    margin-left: 16.666667%;
    padding-left: 7.428571%;

    text-align: left;
  }

}
