.social-link {
  display: block;
  width: 30px;
  height: 29px;

  text-decoration: none;

  box-sizing: border-box;

  svg {
    width: 100%;
    height: 100%;

    fill: #221f1f;
  }

  &:hover svg {
    fill: #46c1ae;
  }

  &:active svg {
    opacity: 0.3;
  }

  &--insta {
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 2px;
  }

  &--fb {
    margin-left: 11.7%;
    margin-right: 8%;
    padding-right: 13px;
  }

  &--tw {
    padding-top: 6px;
    padding-bottom: 2px;
  }
}

@media @tablet-widths {

  .social-link {
    &--insta {
      padding-right: 0;
    }

    &--fb {
      margin-left: 17%;
      margin-right: 20%;
      padding-right: 0;
      padding-left: 7px;
    }

    &--tw {
      padding-left: 5px;
    }
  }

}

@media @desktop-widths {

  .social-link {
    &--fb {
      margin: 0;
      padding-left: 2px;
    }

    &--tw {
      padding-left: 2px;
      padding-right: 2px;
    }
  }

}
